.header {
  background-color: rgba(0, 0, 0, 0.2);

  &__logo {
    @media (max-width: 767px) {
      margin-bottom: 0;
      margin-left: 8px;
    }
  }

  &__container {
    margin: 0 auto;
    padding: 8px 0;
    max-width: 1106px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    margin-bottom: 0;

    &__item {
      display: inline-block;
      margin-right: 12px;

      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
