@use 'header';
@use 'sobre';
@use 'cenas';
@use 'serie';
@use 'footer';

* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$bg-color: #023436;
$text-color: #00BFB3;

@mixin title($fontsize: 40px) {
  font-size: $fontsize;
  font-family: 'Tilt Neon', cursive;
  color: $text-color;
}

@mixin text($fontsize: 16px) {
  font-size: $fontsize;
  line-height: $fontsize + 10px;
  color: $text-color;
}

.title {
  @include title;

  @media (max-width: 767px) {
    @include title(28px);
  }
}

.title--small {
  @include title(20px);
}

.title--med {
  @include title(28px);

  @media (max-width: 767px) {
    @include title(20px);
  }
}

.text {
  @include text;
}

.text--big {
  @include text(18px);
}

body {
  background-color: $bg-color;
  color: $text-color;
}
